
.button-container {
    display: flex;
    flex: 1;
    /* min-height: 85vh; */
    align-items: center;
    justify-content: center;
    margin-top: 250px;
  }

  .button-container button {
    border: .4rem solid gray;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    cursor: pointer; 
  }
  

  .button-container #computer{
   
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: pink;
    text-shadow: 0 0 .5rem purple;
  }


  .button-container button:active {
    /* Tıklanmış butonun stilini burada tanımlayın */
    background: darkgrey; /* Örnek: Arkaplan rengini değiştirin */
    transform: scale(0.95); /* Örnek: Butonu küçültün */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Örnek: Hafif gölgelendirme */
    /* Diğer tıklanmış stil değişikliklerini burada ekleyin */
    
}

#result {
    margin-top: 50px; /* Butonlardan sonra 20 piksel boşluk bırak */
    text-align: center; /* Metni ortala */
    background-color: lightcoral;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 380px;
}


